.about-me {
  background-color: #37A58C;
  width:100%;
  min-height:900px;
}

h1 {
  color:white;
  text-align: center;

}

hr {
  background-color: white;
  width:50%;
  margin-bottom: 5%;
}
.img {
  background-image: url("https://i.imgur.com/UhE4EBh.jpg");
  height:650px;
  width:25%;
  background-size: cover;
  background-position: center;
  border: 5px solid white;
}

.about-text {
  color:white;
  text-align: justify;
  line-height: 35px;
  font-size: 17px;
}
